/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&display=swap");
/* Global Variables */
:root {
  /* Colors */
  /* Primary */
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  /* Gradients */
  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);
  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);
  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(240, 39%, 85%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  /* Fonts */
  --font-size-p: 18px;
  --font-family: "Hanken Grotesk", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  background-color: var(--White);
}
@media screen and (max-width: 769px) {
  body {
    gap: 5px;
  }
}

.container {
  width: 45%;
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0px 9px 33px 7px rgba(168, 190, 248, 0.63);
}
.container .result-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  border-radius: 20px;
  background: linear-gradient(to bottom, var(--Light-slate-blue-background), var(--Light-royal-blue-background));
  color: var(--White);
}
.container .result-score h3 {
  font-size: 22px;
  color: var(--Light-lavender);
}
.container .result-score h1 {
  font-size: 25px;
}
.container .result-score p {
  text-align: center;
  color: var(--Light-lavender);
}
.container .result-score .score-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(to bottom, var(--Violet-blue-circle), var(--Persian-blue-circle));
}
.container .result-score .score-circle .score {
  color: var(--White);
  font-size: 50px;
  font-weight: 800;
}
.container .result-score .score-circle .score span {
  color: var(--Light-lavender);
  font-size: 15px;
}
.container .result-score .comment {
  font-size: 16px;
}
@media screen and (max-width: 769px) {
  .container .result-score {
    border-radius: 0 0px 30px 30px;
  }
}
.container .result-stats {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px;
}
.container .result-stats h3 {
  font-size: 22px;
}
.container .result-stats .stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.container .result-stats .stats .stat:nth-child(1) {
  background-color: hsla(0, 100%, 67%, 0.1);
}
.container .result-stats .stats .stat:nth-child(1) div p {
  color: var(--Light-red);
}
.container .result-stats .stats .stat:nth-child(2) {
  background-color: hsla(39, 100%, 56%, 0.1);
}
.container .result-stats .stats .stat:nth-child(2) div p {
  color: var(--Orangey-yellow);
}
.container .result-stats .stats .stat:nth-child(3) {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.container .result-stats .stats .stat:nth-child(3) div p {
  color: var(--Green-teal);
}
.container .result-stats .stats .stat:nth-child(4) {
  background-color: hsla(234, 85%, 45%, 0.1);
}
.container .result-stats .stats .stat:nth-child(4) div p {
  color: var(--Cobalt-blue);
}
.container .result-stats .stats .stat {
  display: flex;
  padding: 15px 15px;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}
.container .result-stats .stats .stat div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.container .result-stats .stats .stat div img {
  width: 25px;
}
.container .result-stats .stats .stat div p {
  font-weight: 700;
}
.container .result-stats .stats .stat .percent {
  color: var(--Dark-gray-blue);
}
.container .result-stats .stats .stat .percent span {
  color: var(--Light-lavender);
}
.container .result-stats .btn button {
  width: 100%;
  font-size: 18px;
  padding: 10px 30px;
  border: 0px;
  border-radius: 25px;
  background-color: var(--Dark-gray-blue);
  color: var(--White);
}
.container .result-stats .btn button:hover {
  cursor: pointer;
}
@media screen and (max-width: 769px) {
  .container {
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
    box-shadow: none;
    border-radius: 0;
  }
}

.attribution {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  font-weight: 800;
}
.attribution .site .letter:nth-child(1),
.attribution .site .letter:nth-child(7),
.attribution .site .letter:nth-child(11),
.attribution .site .letter:nth-child(14) {
  color: var(--Light-red);
}
.attribution .site .letter:nth-child(2),
.attribution .site .letter:nth-child(5),
.attribution .site .letter:nth-child(9),
.attribution .site .letter:nth-child(13) {
  color: var(--Orangey-yellow);
}
.attribution .site .letter:nth-child(3),
.attribution .site .letter:nth-child(6),
.attribution .site .letter:nth-child(10) {
  color: var(--Green-teal);
}
.attribution .site .letter:nth-child(4),
.attribution .site .letter:nth-child(8) {
  color: var(--Cobalt-blue);
}
.attribution .name .letter:nth-child(1),
.attribution .name .letter:nth-child(7),
.attribution .name .letter:nth-child(11) {
  color: var(--Light-red);
}
.attribution .name .letter:nth-child(2),
.attribution .name .letter:nth-child(5),
.attribution .name .letter:nth-child(9) {
  color: var(--Orangey-yellow);
}
.attribution .name .letter:nth-child(3),
.attribution .name .letter:nth-child(6),
.attribution .name .letter:nth-child(10) {
  color: var(--Green-teal);
}
.attribution .name .letter:nth-child(4),
.attribution .name .letter:nth-child(8) {
  color: var(--Cobalt-blue);
}
@media screen and (max-width: 769px) {
  .attribution {
    margin-top: 0px;
  }
}/*# sourceMappingURL=style.css.map */